{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% block extra_head %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/Employee_List.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/Employee_Performance_List.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/Employee_Performance_Input.css' %}">
</head>
<body>
    <header>
        <nav>
            
            <ul>
                <li><a href="/"><img class="staples-logo" src="{% static 'images/staples-logo.png' %}" alt="Staples Logo"></a></li>
                <li><a href="/employees/">Employees List</a></li>
                <li><a href="/employees_performance_list/">Employee Performance List</a></li>
                <li><a href="/employees_performance_input_form/">Employee Performance Input</a></li>
            </ul>
        </nav>
    </header>    
    {% if request.path == '/' %}
    <main>
        <div class="welcome-message">
            <h1>Welcome to the Staples Pay-For-Performance Program</h1>
            <p>Please feel free to browse the links:</p>
        </div>

        <div class="links">
            <a href="/employees/">Employees list</a>
            <a href="/employees_performance_list/">Employee Performance List</a>
            <a href="/employees_performance_input_form/">Employee Performance Input</a>
        </div>
    {% endif %}
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2023 - Staples</p>
    </footer>
    {% block extra_scripts %}{% endblock %}
</body>
</html>
