{% extends 'base.html' %}

{% block content %}
  <h1>Add Performance Input</h1>
  <form method="POST">
    {% csrf_token %}
    <label for="employee">Employee ID:</label>
    <select name="employee">
      {% for employee in employee_list %}
        <option value="{{ employee.employee_id }}">{{ employee.employee_id }} - {{employee.first_name}} {{employee.last_name}}</option>
      {% endfor %}
    </select>
    <br><br>
    <label for="performance_rating">Performance Rating:</label>
    <select name="performance_rating">
      <option value="Awesome">Awesome</option>
      <option value="Great">Great</option>
      <option value="Good">Good</option>
      <option value="Needs Improvement">Needs Improvement</option>
    </select>
    <br><br>
    <label for="sales_amount">Sales Amount:</label>
    <input type="number" name="sales_amount" step="0.01" required>
    <br><br>
    <input type="submit" value="Submit">
  </form>
{% endblock %}
