{% extends 'base.html' %}

{% block extra_head %}
    <style>
        table {
            border-collapse: collapse;
            margin: 20px 0;
            font-size: 1.2em;
            min-width: 400px;
            border-radius: 5px 5px 0 0;
            overflow: hidden;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        }

        table th,
        table td {
            padding: 12px 15px;
        }

        table thead tr {
            background-color: #009879;
            color: #ffffff;
            text-align: left;
        }

        table tbody tr {
            border-bottom: 1px solid #dddddd;
        }

        table tbody tr:nth-of-type(even) {
            background-color: #f3f3f3;
        }

        table tbody tr:last-of-type {
            border-bottom: 2px solid #009879;
        }
    </style>
{% endblock %}

{% block content %}
    <h1>List of Employees</h1>
    <table>
        <thead>
            <tr>
                <th>Employee ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            {% for employee in employee_list %}
            <tr>
                <td>{{ employee.employee_id }}</td>
                <td>{{ employee.first_name }}</td>
                <td>{{ employee.last_name }}</td>
                <td>{{ employee.email }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
